.classpath
.DS_Store
.sfdx
.project
.salesforce
.vscode
node_modules
.idea
.tern-project
.settings
selenium-client-jars/
test/artifacts
vemo-mdapi/build.properties
vemo-mdapi-1-settings/unpackaged/
vemo-mdapi-1-settings/unpackaged.zip
vemo-mdapi-2-datamodel/unpackaged/
vemo-mdapi-2-datamodel/unpackaged.zip
vemo-mdapi-3-code/unpackaged/
vemo-mdapi-3-code/unpackaged.zip
vemo-mdapi-4-other/unpackaged/
vemo-mdapi-4-other/unpackaged.zip
vemo-mdapi-5-all/unpackaged
vemo-mdapi-5-all/unpackaged.zip
vemo-mdapi-qa/
vemo-mdapi-uat/
vemo-mdapi-prod/
*.dup
vemo-app/main/default/layouts/
vemo-app/main/default/layouts/StudentProgram__c-School Student Program Layout.layout-meta.xml
